<div class="align-self-center">
  <hr style="width: 20px; border:1px solid var(--lightgray-color);">
</div>
<div class="">
  <div class="card tastCard">
    <div class="card-header">
      <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="nav-link active dropdown-toggle p-0">Select Task <i class="fa fa-angle-down float-right"
            aria-hidden="true"></i></div>
      </a>
      <div class="dropdown-menu publishdopmenu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item hoverColor">Request</a>
        <a class="dropdown-item hoverColor">Preparation</a>
        <a class="dropdown-item hoverColor">View</a>
        <a class="dropdown-item hoverColor">Approve</a>
      </div>
    </div>
    <div class="card-body" data-toggle="modal" data-target="#publishPageModel">
      <div class="userList">
        <div class="row">
          <div class="col-md-3 mr-0">
            <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
          </div>
          <div class="col-md-9 pl-2">
            <div class="title">
              Shirley Setia
            </div>
            <div class="text-info">
              shirley23@gmail.com
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-3 mr-0">
            <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
          </div>
          <div class="col-md-9 pl-2">
            <div class="title">
              Shirley Setia
            </div>
            <div class="text-info">
              shirley23@gmail.com
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mr-0">
            <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
          </div>
          <div class="col-md-9 pl-2 mt-2">
            <div class="title">
              Shirley Setia
            </div>
            <div class="text-info">
              shirley23@gmail.com
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="align-self-center">
  <div class="d-flex flex-row">
    <hr style="width: 20px;
 border:1px solid var(--lightgray-color);">
    <img class="mt-2 plus-circle-ico" src="assets/img/plus-circle.png">
    <!-- <hr style="width: 20px;
 border:1.3px solid #3bb4f2"> -->
  </div>
</div>

<div class="align-self-center">
  <hr style="width: 20px;
      border:1px solid var(--lightgray-color);">
</div>

<div class="">
  <div class="card tastCard">
    <div class="card-header">
      <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="nav-link active dropdown-toggle p-0">Select Task <i class="fa fa-angle-down float-right"
            aria-hidden="true"></i></div>
      </a>
      <div class="dropdown-menu publishdopmenu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item hoverColor">Request</a>
        <a class="dropdown-item hoverColor">Preparation</a>
        <a class="dropdown-item hoverColor">View</a>
        <a class="dropdown-item hoverColor">Approve</a>
      </div>
    </div>
    <div class="card-body" data-toggle="modal" data-target="#publishPageModel">
      <div class="userList">
        <div class="row">
          <div class="col-md-3 mr-0">
            <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
          </div>
          <div class="col-md-9 pl-2">
            <div class="title">
              Shirley Setia
            </div>
            <div class="text-info">
              shirley23@gmail.com
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-3 mr-0">
            <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
          </div>
          <div class="col-md-9 pl-2">
            <div class="title">
              Shirley Setia
            </div>
            <div class="text-info">
              shirley23@gmail.com
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mr-0">
            <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
          </div>
          <div class="col-md-9 pl-2">
            <div class="title">
              Shirley Setia
            </div>
            <div class="text-info">
              shirley23@gmail.com
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="align-self-center">
  <div class="d-flex flex-row">
    <hr style="width: 20px; border:1px solid var(--lightgray-color);">
    <img class="mt-2 plus-circle-ico" src="assets/img/plus-circle.png">
    <!-- <hr style="width: 20px;
 border:1.3px solid #3bb4f2"> -->
  </div>
</div>

<div class="align-self-center">
  <hr style="width: 20px;
     border:1px solid var(--lightgray-color);">
</div>

<div class="">
  <div class="card tastCard">
    <div class="card-header">
      <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="nav-link active dropdown-toggle p-0">Select Task <i class="fa fa-angle-down float-right"
            aria-hidden="true"></i></div>
      </a>
      <div class="dropdown-menu publishdopmenu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item hoverColor">Request</a>
        <a class="dropdown-item hoverColor">Preparation</a>
        <a class="dropdown-item hoverColor">View</a>
        <a class="dropdown-item hoverColor">Approve</a>
      </div>
    </div>
    <div class="card-body">
      <div class="userList">
        <div class="row">
          <!-- <div class="col-md-3 mr-0">
              <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
            </div>
            <div class="col-md-9 pl-2">
              <div class="title">
                Shirley Setia
              </div>
              <div class="text-info">
                shirley23@gmail.com
              </div>
            </div> -->
          <div class="plus-user-content m-auto">
            <img src="assets/img/plus-ico.png"> &nbsp; <span>Assign User</span>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-3 mr-0">
              <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
            </div>
            <div class="col-md-9 pl-2">
              <div class="title">
                Shirley Setia
              </div>
              <div class="text-info">
                shirley23@gmail.com
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mr-0">
              <img class="m-auto userlistimg" style="border-radius: 50px;" src="assets/img/user.jpg">
            </div>
            <div class="col-md-9 pl-2 mt-2">
              <div class="title">
                Shirley Setia
              </div>
              <div class="text-info">
                shirley23@gmail.com
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>